html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f5f8fa;
}
div {
    outline-width: 1px;
    outline-color: red;
    /*outline-style: dashed;*/
}
a {
    text-decoration: none;
}
a.pp-nav-item:hover {
    color: #1b95e0;
}
.pp-div-nav {
    height: 6%;
    text-align: center;
    padding:0 15%;
    background-color: white;
    border-bottom:1px solid black;
}
.pp-div-bird {
    display: inline-block;
    padding: 1.5% 0 0 0;
}
.pp-div-search {
    display: inline-block;
    padding: 1%;
    font-size: .9em;
}
.pp-left {
    float: left;
}
.pp-right {
    float: right;
}
.pp-inline-block {
    display: inline-block;
}
a.pp-nav-item {
    padding: 1.5% 1%;
    text-align: center;
    color: #66757f;
}
.pp-div-main {
    /*padding: 10px 180px 0 180px;*/
    margin: 10px auto 0 auto;
    width: 70%;;
}
.pp-div-info {
    width: 25%;
    height: 500px;
}
.pp-div-content {
    position: absolute;
    width: 31%;
    margin: 0 2%;
}
.pp-div-ads {
    width: 25%;
    height: 210px;
    background: #eaeded;
    text-align: center;
}
.pp-div-user {

}
.pp-div-layer {
    height: 95px;
    background-color: #2B7BB9;
}
.pp-div-info-content {
    background: #ffffff;
}
.pp-a-avatar {
    float: left;
    height: 69px;
    width: 69px;
    margin-top: -40px;
    margin-left: 25px;
    text-align: center;
    background-color: #e6e6e6;
}
#pp-id-avatar {
    position: relative;
    top: 5px;
}
.pp-div-id {
    padding: 5px 0 10px 100px;
}
.pp-span-username {
    font-size: larger;
    font-weight: bold;
}
.pp-div-profile {
    margin-left: 11px;
    padding: 8px 0;
}
.pp-div-profile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pp-div-profile ul li {
    display: inline-block;
    width: 30%;
}
.pp-span-status {
    font-size: 0.8em;
}
.pp-div-trends {
    height: 200px;
    margin: 10px 0;
    background-color: white;
    text-align: center;
}
.pp-div-trends span {
    line-height: 200px;
}
.pp-div-release {
    background-color: #e9f1f8;
    padding: 10px 20px;
}
.pp-div-toolbar {
    padding: 5px 3px;
}
.pp-text-input {
    resize: none;
    height: 100px;
}
.pp-btn-input {
    float: right;
    background: rgb(0, 132, 180) !important;
    color: #f8f9ff !important;
}
.icon-camera {
    color: #329bc2
}
#id-div-insert {
    background-color: #FFFFFF;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    border-radius: 1%;
}
.pp-flex-row {
    display: flex;
    flex-direction: row;
}
.flex-1 {
    flex-grow: 1;
}
.pp-avatar-config {
    text-align: center;
}
.pp-avatar {
    min-width: 60px;
    border-radius: 2%;
}
.pp-avatar-me {
    border-radius: 15%;
}
.pp-panel {
    border-color: gray;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding: 5px 3px 5px 3px;
}
.pp-main {
    margin-left: 3px;
}
.pp-main-footer {
    height: 20px;
    margin-top: 10px;
}
.pp-main-header a {
    float: right;
}
.pp-weibo-text {
    margin: 1px 0;
}
.pp-main-footer a {
    display: inline-block;
    width: 4em;
    color: #aab8c2;
}
.pp-timestamp {
    font-size: 70%;
    color: gray
}
.pp-main-footer a {
    cursor: pointer;
}
.pp-main-footer a:hover{
    color: #1b95e0;
}
.input-group-btn {
    float: right;
}
.pp-div-comment-box {
    padding: 0 0 0 1%;
}
#id-input-comment {
    width: 85%;
}
.pp-comment-avatar {
    width: 50px;
}
.pp-comment-group {
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding: 5px 3px 10px 3px;
}
.pp-comment-item {
    border-color: lightcoral;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    padding: 5px 3px 3px 3px;
}
.pp-comment-content p {
    margin: 1px 0;
}
.pp-comment-content span {
    font-weight: bold;
}
.pp-comment-footer time {
    font-size: 70%;
    color: gray;
}
.pp-div-tweets-list {
    background-color: white;
}
.pp-div-status {
    margin: 1em 0;
}