<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/pp-init.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <script src='/static/js/jquery.min.js'></script>
    <title>{% block title %}base{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div class="pp-div-nav">
        <a class="icon-home icon-large pp-nav-item pp-left" href="#"> 主页</a>
        <a class="icon-bell icon-large pp-nav-item pp-left" href="#"> 通知</a>
        <a class="icon-envelope icon-large pp-nav-item pp-left" href="#"> 私信</a>
        <div class="pp-div-bird">
            <img src="/static/img/twitter.png" id="pp-img-bird" title="just a bird">
        </div>
        <a class="icon-spinner icon-large pp-nav-item pp-right" href="#">人民公社</a>
        <!--必须结合 pure form 一起使用 = =-->
        <div class="pure-form pp-div-search pp-right">
            <input class="pure-input-rounded" id="pp-id-search" placeholder="搜点什么...">
        </div>
    </div>
    <div class="pp-div-main">
        <div class="pp-div-info pp-left">
            <div class="pp-div-user">
                <div class="pp-div-layer">
                </div>
                <div class="pp-div-info-content">
                    <a class="pp-a-avatar">
                        <img src="#">
                    </a>
                    <div class="pp-div-id">
                        <span class="pp-span-username">  username</span>
                    </div>
                    <div class="pp-div-profile">
                        <ul class="pp-ul-status">
                            <li class="pp-li-status">
                                <a class="pp-a-status" href="#">
                                    <span class="pp-span-status">
                                        推文
                                    </span>
                                </a>
                            </li>
                            <li class="pp-li-status">
                                <a class="pp-a-status" href="#">
                                    <span class="pp-span-status">
                                        正在关注
                                    </span>
                                </a>
                            </li>
                            <li class="pp-li-status">
                                <a class="pp-a-status" href="#">
                                    <span class="pp-span-status">
                                        关注者
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <ul class="pp-ul-status-number">
                            <li class="pp-li-status-number">
                                <a class="pp-a-status-number" href="#">
                                    <span class="pp-span-status-number">
                                        1
                                    </span>
                                </a>
                            </li>
                            <li class="pp-li-status-number">
                                <a class="pp-a-status-number" href="#">
                                    <span class="pp-span-status-number">
                                        2
                                    </span>
                                </a>
                            </li>
                            <li class="pp-li-status-number">
                                <a class="pp-a-status-number" href="#">
                                    <span class="pp-span-status-number">
                                        3
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pp-div-trends">
                <span>正在施工。。。</span>
            </div>
        </div>
        <div class="pp-div-content pp-left">
            <div class="pp-div-release">
                <div class="pure-form">
                    <textarea class="pp-text-input pure-input-1" placeholder="说点什么"></textarea>
                </div>
            </div>
        </div>
        <div class="pp-div-ads pp-left">

        </div>
    </div>
</body>
</html>